<div class="row ">
    <div class="col">
<form class="Jumbotron">
<table class="table table-hover ">
 
  <thead>
    <tr class="cb-col cb-col-80 cb-scrd-hdr-rw">
      
      <th scope="col">Batsman</th>
      <th scope="col">R</th>
      <th scope="col">B</th>
      <th scope="col">4s</th>
      <th scope="col">6s</th>
    </tr>
  </thead>
</table>

<!-- <table class="table table-hover ">
 
    <thead>
      <tr class="cb-col cb-col-80 cb-scrd-hdr-rw">
        
        <th scope="col">Baller</th>
        <th scope="col">O</th>
        <th scope="col">R</th>
        <th scope="col">W</th>
        <th scope="col">NB</th>
        <th scope="col">WB</th>
      </tr>
    </thead>
  </table> -->

</form>
</div>
<div class="col">
  <router-outlet></router-outlet>
</div>
</div>